@font-face {
  font-family: Blacklisted;
  src: url("../fonts/Blacklisted.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Redhat;
    src: url("../fonts/RedHatText-Regular.otf");
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

p {
  font-size: 1.6rem;
  font-family: "Montserrat";
  margin: 3rem 0;
}

.cta-primary {
  display: inline-block;
  position: relative;
  padding: 1rem 2rem;
  background-color: #FB5607;
  border: 1px solid #FB5607;
  color: #fff !important;

  font-family: "Redhat";
  font-size: 1.6rem;

  transition: all .2s;
}

.cta-primary:hover {
  cursor: pointer;
  box-shadow: 4px 4px 2px 0 rgba(251, 86, 7, 0.5);
  color: #fff;
  text-decoration: none;
}


.skater-overlay .cta-primary-skater {
  margin-top: 2rem;
  border: 1px solid #fff;
  color: #fff;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all .3s ease-in;  
}

.cta-primary-skater:hover {
  text-decoration: none;
  color: #fff;
  background-color: #FB5607;
  border: 1px solid #FB5607;
}

.section-title {
  font-family: "Redhat";
  font-size: 3rem;
  text-transform: uppercase;
}

.bg-video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Logo */

#logo {
  width: 20px;
  height: 20px;
}

/* Navbar styles */

.navbar-container { /* Positionning navbar and setting bg-color  */
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

.navbar-container ul {
    display: flex;

    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar-container a {
    display: block;
    padding: 2rem;

    font-size: 1.6rem;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}

.navbar-container a:hover {
    background-color: #FB5607;
    color: #fff;
}

/* Hamburger menu styles */

.navbar-container .menu-icon { /* Positionning to the right */
    cursor: pointer;
    float: right;
    padding: 2.8rem 2rem;
    display: none;
}

.navbar-container .menu-icon .navicon { /* Drawing middle bar of icon */
    background: #000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navbar-container .menu-icon .navicon:before, /* Drawing first & last bars */
.navbar-container .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;

  transition: all .2s ease-out;
}

.navbar-container .menu-icon .navicon:before {
  top: 5px;
}

.navbar-container .navicon:after {
  top: -5px;
}

/* Landing area */

#landing { /* Video overlay */
    color: #fff;
    font-family: "Blacklisted";
    text-align: center;
    position: relative;
}

#landing h1 {
    margin-top: -6.4rem;
    font-size: 6rem;
}

#landing p {
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Redhat";
}

#landing span {
    font-size: 3rem;
}

/* About section */

#about {
    text-align: center;
    width: 50%;
    margin: 8rem auto;
}

/* Professional skaters section */

#skaters {
    margin: 0;
    padding: 0;
}

.skater-container {

}

.skater-img {
    max-width: 100%;
    height: auto;
}

.skater-overlay {
    position: absolute;
    bottom: 0; left: 0; right: 0; top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease;
    background-color: rgba(251, 86, 7, .7);
    text-align: center;
}

.skater-container:hover .skater-overlay {
    opacity: 1;
}

.skater-overlay span {
    font-family: "Blacklisted";
    font-size: 4rem;
    color: #fff;
    display: block;
    margin-top: 40%;
}

.skater-inside-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.skater-inside-overlay {
  position: absolute;
  top: 100%; bottom: 0; left: 0; right: 0;
  transition: all .2s;
}

.skater-container:hover .skater-inside-overlay {
  top: 0;
}

footer ul {
  list-style-type: none;
  margin: 4rem;
}

footer ul li {
  display: inline-block;
}

footer li a {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
  margin-left: 2rem;
  border-left: 1px solid #333;
  padding-left: 2rem;
}

#footer-first-link {
  border-left: none;
}

footer li a:hover {
  text-decoration: none;
  color: #FB5607;
}

/* Media queries */

@media screen and (max-width: 576px) {
    .navbar-container ul li {
        display: none;
    }

    .navbar-container ul li:first-child { /* On affiche le logo sur petits écrans mais pas les autres liens */
        display: block;
    }

    .navbar-container .menu-icon {
        display: inline-block;
    }
    footer li a {
      border: none;
    }
}

/* Video section */

#video-section .section-title {
  text-align: center;
  margin-bottom: 6rem;
}

/* Ride & Danse */

#ride-danse-section .main-cta {
    text-align: center;
    padding: 12rem 0;
}

#ride-danse-section .main-cta span { /* Title */
    display: block;
    font-size: 4rem;
    color: #fff;
    font-family: "Blacklisted";
}

#ride-danse-section .main-cta a { /* The actual cta */
    display: inline-block;
    margin: 1rem auto;
    padding: 1.5rem 2rem;
    border: 1px solid #fff;

    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;

    transition: all .2s;
}

#ride-danse-section .main-cta a:hover {
    background-color: #fff;
    font-weight: bold;
}

#ride-danse-section #to-skaters-cta {
    background-color: #FB5607;
}

#ride-danse-section #to-skaters-cta a:hover {
    color: #FB5607;
}

#ride-danse-section #to-lineup-cta {
    background-color: #1B3D74;
}

#ride-danse-section #to-lineup-cta a:hover {
    color: #1B3D74;
}

/* Presentation section */

#presentation {
  padding: 0;
}

#presentation .presentation-text {
    padding: 5rem;
    border-radius: 1px;
    margin-bottom: 3rem;
}

#presentation .presentation-img {
    background: url('https://via.placeholder.com/1280x720.png') no-repeat center;
}

/* Services */

#services {
  width: 50%;
  margin: 10rem auto;
}

#services h2 {
  margin: 3rem 0 6rem 0;
  text-align: center;
  text-transform: none;
}

.service {
  padding: 3rem 0;
  text-align: center;
  transition: box-shadow .2s;
  padding: 4rem 3rem;
}

.service:hover {
  color: #FB5607;
}

.service i, .service span {
    display: block;
    font-size: 1.6rem;
}

.service i {
    font-size: 2rem;
}

.service span {
    margin-top: 3.2rem;
}
